{
    "$schema": "https://opencode.ai/config.json",
    "plugin": ["@sveltejs/opencode"],
    "provider": {
        "omniroute": {
            "npm": "@ai-sdk/openai-compatible",
            "name": "OmniRoute",
            "options": {
                "baseURL": "{{ .opencode.omniroute.baseURL }}",
                "apiKey": "{{ .opencode.omniroute.apiKey }}"
            },
            "models": {
                "super-brain": {
                    "name": "Super Brain",
                    "modalities": {
                        "input": ["text"]
                    }
                },
                "brain": {
                    "name": "Brain",
                    "modalities": {
                        "input": ["text"]
                    }
                },
                "vision": {
                    "name": "Vision",
                    "modalities": {
                        "input": ["text", "image"]
                    },
                    "attachment": true
                }
            }
        }
    }
}
